---
import { Image } from 'astro:assets';
import imageMldDev from '../assets/images/hero_mld_dev.webp';
import imageMldPortfolio from '../assets/images/hero_portfolio_mld.webp'
import imageHero from '../assets/images/hero_hero_site.webp'

const projects = [
  {
    title: "Mld développement",
    year: "2026",
    description: "Site Vitrine pour développeur web avec animation.",
    image: imageMldDev,
    url: "https://mld-dev.com/",
  },
  {
    title: "Portfolio MLD",
    year: "2025",
    description: "Portfolio Mono-page avec formulaire de contact.",
    image: imageMldPortfolio,
    url: "https://maxime-mld.vercel.app/",
  },
    {
    title: "Heros League",
    year: "2025",
    description: "Site Vitrine dans la location de super-héros.",
    image: imageHero,
    url: "",
  },
];
---

<section id="projets" class="py-20 px-6 bg-main-bg">
  <div class="max-w-7xl mx-auto mb-16">
    <span class="reveal text-[#6352ff] text-base mb-4 block font-mono uppercase tracking-[0.3em]">// Réalisations</span>
    <h2 class="reveal text-3xl md:text-4xl font-black uppercase text-title leading-tight">Des projets<br><span class="text-gradient-pink italic">sur mesure.</span></h2>
  </div>

  <div class="reveal grid grid-cols-1 md:grid-cols-3 gap-8 max-w-7xl mx-auto">
    
    {projects.map((project, index) => (
      <div class="group bg-white rounded-3xl overflow-hidden border border-title/5 shadow-sm hover:shadow-xl transition-all duration-500 flex flex-col">
        
        <div class="relative aspect-video overflow-hidden">
          <Image
              src={project.image}
              width={800}
              height={450}
              format="webp"
              quality={80}
              alt={project.title}
              class="rounded-2xl"
              loading={index === 0 ? "eager" : "lazy"}
              fetchpriority={index === 0 ? "high" : "low"}
            />
          
          <div class="absolute inset-0 bg-[#6352ff]/20 opacity-0 group-hover:opacity-100 transition-opacity duration-500 flex items-center justify-center backdrop-blur-sm">
            <a
              href={project.url} 
              target="_blank" 
              rel="noopener noreferrer" 
              class="bg-white text-title px-6 py-3 rounded-full text-[10px] font-black uppercase tracking-widest shadow-lg hover:scale-105 transition-transform"
            >
              Voir le projet
            </a>
          </div>
        </div>

        <div class="p-6 bg-white flex-1 flex flex-col justify-between">
          <div>
            <div class="flex justify-between items-center mb-2">
              <h3 class="text-xl font-bold text-[#6352ff]">{project.title}</h3>
              <span class="text-xs font-mono text-slate-400">
                {project.year}
              </span>
            </div>
            <div class="h-1 w-12 bg-[#6352ff] mt-1 rounded-full mb-8"></div>
            <p class="text-slate-600 text-sm font-style: italic leading-relaxed">
              {project.description}
            </p>
          </div>
        </div>

      </div>
    ))}
    
  </div>
</section>
<div class="w-full h-px bg-linear-to-r from-transparent via-[#d363ff]/40 to-transparent"></div>